/* stylelint-disable import-notation */
@import "bingo.css";
@import "glossary.css";
@import "resources.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600&family=PT+Serif:wght@700&display=swap");

:root {
  --primary-color: #3345ff;
  --secondary-color: #fcbaa2;
  --primary-hover-color: #0317e4;
  --secondary-hover-color: #f4a78b;
  --background-color: #fff6ef;
}

body {
  font-family: Inter, sans-serif;
}

h3 {
  color: var(--primary-color);
  font-family: "PT serif", serif;
  font-size: 2.5em;
}

img {
  height: 48px;
}

p {
  font-weight: 300;
}

p.intro {
  max-width: 50ch;
  line-height: 1.5em;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 120px;
  margin-top: 38px;
}

.navbar > nav {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  gap: 34px;
  align-items: center;
  padding-right: 100px;
}

nav > a {
  font-family: Inter, sans-serif;
  color: black;
  font-size: 1.25em;
  text-decoration: none;
  font-weight: 300;
}

nav > a.active {
  color: var(--primary-color);
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
}

.mobile-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 40px;
}

.mobile-menu-wrapper {
  z-index: 0;
  position: relative;
}

/* stylelint-disable-next-line selector-class-pattern */
.mobile-menu__toggle {
  margin-bottom: 20px;
}

/* stylelint-disable-next-line selector-class-pattern */
.mobile-menu__mask {
  left: -100vw;
}

.mobile > nav {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 16px;
}

/* stylelint-disable-next-line selector-class-pattern */
.mobile-menu-wrapper__content {
  background: unset;
}

.container {
  padding: 94px 0 120px 120px;
}

.mobile-container {
  padding: 20px;
}

.callout-focus {
  font-size: 4em;
  color: var(--primary-color);
  margin: 0;
  font-family: "PT serif", serif;
}

.callout {
  margin-bottom: 25px;
}

.callout > h2 {
  margin: 0;
  margin-bottom: 4px;
  font-size: 1.5em;
  font-weight: 300;
}

.callout.landing-callout > .callout-focus {
  font-size: 5em;
  line-height: 79px;
}

.callout.landing-callout > h2 {
  font-size: 2em;
}

.callout.landing-callout {
  margin-bottom: 33px;
}

.button-index {
  margin-top: 80px;
  font-size: 1.125em;
}

.menu-button {
  border: none;
  background-color: transparent;
  font-size: 1.5em;
}

.menu-button:hover {
  color: var(--primary-color);
}

.large-illustration {
  height: 80%;
  position: fixed;
  top: 120px;
  right: 20px;
}
