/* stylelint-disable import-notation */
@import "index.css";
@import "bingo.css";
@import "glossary.css";
@import "resources.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=PT+Serif:wght@700&display=swap');

:root {
  --primary-color: #3345ff;
  --secondary-color: #fcbaa2;
  --primary-hover-color: #0317E4;
  --secondary-hover-color: #F4A78B;
  --background-color: #FFF6EF;
}

body {
  font-family: Inter, sans-serif;
}

h3 {
  color: var(--primary-color);
  font-family: "PT serif", serif;
  font-size: 2.5em;
}

img {
  height: 80px;
}

p.intro {
  width: 50ch;
}

nav {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
  padding-right: 100px;
}

nav > a {
  color: black;
  font-size: 1.5em;
  text-decoration: none;
}

nav > a.active {
  color: var(--primary-color);
  text-decoration: underline;
}

.container {
  padding: 20px;
}

.text {
  max-width: 60ch;
}

.callout-focus {
  font-size: 4em;
  color: var(--primary-color);
  margin: 0;
  font-family: "PT serif", serif;
}

.callout {
  margin-bottom: 20px;
}

.callout > h2 {
  margin: 0;
  font-size: 1.5em;
  font-weight: normal;
}

.callout.landing-callout > .callout-focus {
  font-size: 5em;
}

.callout.landing-callout > h2 {
  font-size: 2em;
}
