body.bingo {
  background-color: var(--background-color);
}

.bingo-card {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 1080px;
}

.cell {
  width: 200px;
  height: 260px;
  padding: 27px;
  background-color: white;
  border-radius: 12px;
  cursor: pointer;
  border: 1px solid transparent;
  font-size: 0.8em;
  font-weight: 300;
}

.title {
  font-family: "PT Serif", serif;
  font-size: 1.375em;
  margin: 8px;
}

.contribute-modal {
  position: relative;
  width: 625px;
  border: 0;
  background-color: white;
  border-radius: 12px;
  text-align: center;
  padding: 64px;
  margin: 20px;
}

.illustration {
  fill: var(--blob-color);
}

.contribute-modal > .modal-title {
  font-family: "PT serif", serif;
  font-size: 1.5em;
}

.contribute-modal > .illustration {
  height: 140px;
}

.cell:hover {
  border: 1px solid var(--blob-color);
}

.cell > .illustration {
  height: 90px;
}

.modal-close {
  position: absolute;
  right: 20px;
  top: 20px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.3em;
}

.modal-description {
  margin-bottom: 84px;
}

.cards-title {
  line-height: 79px;
  margin-top: 46px;
  margin-bottom: 10px;
}

.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 16px 32px;
  color: white;
  background-color: var(--primary-color);
  width: max-content;
  text-decoration: none;
  transition: all 0.2s ease;
  font-family: Inter, sans-serif;
}

.button-secondary {
  background-color: var(--secondary-color);
}

.button:hover {
  background-color: var(--primary-hover-color);
}

.button-secondary:hover {
  background-color: var(--secondary-hover-color);
}

@media (width <= 665px) {
  .contribute-modal {
    width: calc(100vw - 40px);
  }
}
