.score-list {
  display: grid;
  grid-template-columns: repeat(15, minmax(16px, 32px));
  height: 32px;
  gap: 1px;
}

.score-list :first-child {
  border-radius: 4px 0 0 4px;
}

.score-list :last-child {
  border-radius: 0 4px 4px 0;
}

.score-list .neutral {
  background-color: #e4e4e4;
}

.score-list .positive {
  background-color: var(--primary-color);
}

.score-list .negative {
  background-color: var(--secondary-color);
}

.statement {
  margin-bottom: 16px;
}

.options {
  display: flex;
  margin-top: 8px;
}

.options input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.options label {
  background-color: #e4e4e4;
  color: rgba(0 0 0 / 60%);
  font-size: 14px;
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  margin-right: -1px;
  border: 1px solid rgba(0 0 0 / 20%);
  /* box-shadow: inset 0 1px 3px rgba(0 0 0 / 30%), 0 1px rgba(255 255 255 / 10%); */
  transition: all 0.1s ease-in-out;
}

.options label:hover {
  cursor: pointer;
}

.options label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.options label:last-of-type {
  border-radius: 0 4px 4px 0;
}

.options input:checked + label {
  background-color: var(--primary-color);
  color: white;
  box-shadow: none;
}
