{{page-title "DEI Bingo"}}

{{#if (media 'isDesktop')}}
<div class="navbar">
  <img src="logo.svg" alt="4 abstract people">
  <nav>
    <LinkTo @route="index">Home</LinkTo>
    <LinkTo @route="bingo">Contribute</LinkTo>
    <LinkTo @route="glossary">Glossary</LinkTo>
    <LinkTo @route="resources">Resources</LinkTo>
  </nav>
</div>
<div class="container">
  {{outlet}}
</div>
{{else}}
<MobileMenuWrapper as |mmw|>

  <mmw.Content class="mobile-container">
    <div class="mobile-bar">
      <img src="logo.svg" alt="4 abstract people">
      <mmw.Toggle class="menu-button">
        <FaIcon @icon="bars" />
      </mmw.Toggle>
    </div>
    {{outlet}}
  </mmw.Content>
   <mmw.MobileMenu @type="right" as |mm|>
    <div class="menu mobile">
      {{!-- template-lint-disable no-duplicate-landmark-elements --}}
      <nav>
        <mm.LinkTo @route="index">Home</mm.LinkTo>
        <mm.LinkTo @route="bingo">Contribute</mm.LinkTo>
        <mm.LinkTo @route="glossary">Glossary</mm.LinkTo>
        <mm.LinkTo @route="resources">Resources</mm.LinkTo>
      </nav>
    </div>
  </mmw.MobileMenu>

</MobileMenuWrapper>
{{/if}}

<EpmModalContainer />
