{{page-title "DEI Bingo"}}
<nav>
  <LinkTo @route="bingo">Bingo</LinkTo>
  <LinkTo @route="glossary">Glossary</LinkTo>
  <LinkTo @route="resources">Resources</LinkTo>
</nav>
<div class="container">
{{outlet}}
</div>
