{{page-title "DEI Bingo"}}
<div class="navbar">
  <img src="logo.svg" alt="4 abstract people">
<nav>
  <LinkTo @route="index">Home</LinkTo>
  <LinkTo @route="bingo">Contribute</LinkTo>
  <LinkTo @route="glossary">Glossary</LinkTo>
  <LinkTo @route="resources">Resources</LinkTo>
</nav>
</div>

<div class="container">
{{outlet}}
</div>
