{{page-title "DEI@Nedap"}}

{{#if (media 'isDesktop')}}
<div class="navbar">
  <LinkTo @route="index"><img src="logo.svg" alt="4 abstract people"></LinkTo>
  <nav>
    <ul>
      <li>
        <LinkTo @route="index">Home</LinkTo>
      </li>
      <li>
        <LinkTo @route="contribute">Contribute</LinkTo>
      </li>
      <li>
        <LinkTo @route="glossary">Glossary</LinkTo>
      </li>
      <li>
        <LinkTo @route="resources">Resources</LinkTo>
      </li>
    </ul>
  </nav>
</div>
<div class="container">
  {{outlet}}
</div>
{{else}}
<MobileMenuWrapper as |mmw|>

  <mmw.Content class="mobile-container">
    <div class="mobile-bar">
      <LinkTo @route="index"><img src="logo.svg" alt="4 abstract people"></LinkTo>
      <mmw.Toggle class="menu-button" aria-label="menu button">
        <FaIcon @icon="bars"  alt="Hamburger menu"/>
      </mmw.Toggle>
    </div>
    {{outlet}}
  </mmw.Content>
   <mmw.MobileMenu @type="right" as |mm|>
    <div class="menu mobile">
      {{!-- template-lint-disable no-duplicate-landmark-elements --}}
      <nav>
        <ul>
          <li>
            <mm.LinkTo @route="index">Home</mm.LinkTo>
          </li>
          <li>
            <mm.LinkTo @route="contribute">Contribute</mm.LinkTo>
          </li>
          <li>
            <mm.LinkTo @route="glossary">Glossary</mm.LinkTo>
          </li>
          <li>
            <mm.LinkTo @route="resources">Resources</mm.LinkTo>
          </li>
        </ul>
      </nav>
    </div>
  </mmw.MobileMenu>

</MobileMenuWrapper>
{{/if}}

<EpmModalContainer />
