{{page-title "Home"}}
<div class="index-container">
<Callout class="landing-callout" @subtitle="Together">Diversity <br>& Inclusion</Callout>
<p class="intro">Diversity and Inclusion are essential for fostering a more equitable and harmonious workplace. This app is your ticket to becoming an active ally in the realm of diversity and inclusion!</p>
<LinkTo class="button button-index" @route="contribute">Start now!</LinkTo>
</div>
{{!-- {{svg-jar 'landscape-illustration' class="large-illustration"}} --}}
