{{page-title "Index"}}
<div class="index-container">
<h2>Together</h2>
<h1 class="callout">Diversity &<br> Inclusion</h1>
<p class="text">Diversity and Inclusion are essential for fostering a more equitable and harmonious workplace. This app is your ticket to becoming an active ally in the realm of diversity and inclusion!</p>
<LinkTo class="button" @route="bingo">Start now!</LinkTo>
</div>
