{{page-title "Resources"}}
<div class="callout">
  <h2>Continue your</h2>
  <h1 class="callout-focus">Learning</h1>
</div>
<p class="intro">Learn more about different topics and find the medium you like.</p>

<div class="resource-container">
  <div class="resource-card">
    <h3>Watch</h3>
    <h4>Diversity in the workplace</h4>
    <ul class="resource-list">
      <li><a
          href="https://www.ted.com/playlists/670/a_blueprint_for_diversity_in_the_workplace"
        >Diversity TED Talks playlist
        </a></li>
      <li><a href="https://youtu.be/bqQJv4bvrPI">The myth of bringing your
          full, authentic self to work
        </a></li>
    </ul>
    <h4>Inclusive design</h4>
    <ul class="resource-list">
      <li>
        <a href="https://youtu.be/SYu6wnZhrBU">Mismatch: How Inclusion Shapes
          Design
        </a>
      </li>
      <li>
        <a href="https://www.ted.com/playlists/372/designing_for_disability">"Designing for disability" TED Talks playlist
        </a>
      </li>
    </ul>
    <h4>Types of Diversity / Personal stories</h4>
    <ul class="resource-list"><li><a href="https://youtu.be/vSLdzdwlb_I">Autism: How to be normal (and why
          not to be)
        </a></li>
      <li><a href="https://youtu.be/VdNN5GrD5cM">It's Not Easy Seeing Green: The
          Complexities of Color Blindness
        </a></li>
      <li><a href="https://www.youtube.com/watch?v=lT3GBO4Sti4">To Bi or not to Bi (NL)</a></li>
     </ul>
  </div>

  <div class="resource-card">
    <h3>Listen</h3>
    <h4>Diversity in the workplace</h4>
    <ul class="resource-list">
      <li><a href="https://hbr.org/2018/01/podcast-women-at-work">Women at Work
          podcast
        </a></li>
    </ul>
    <h4>Community building</h4>
      <ul class="resource-list">
        <li>
          <a
            href="https://open.spotify.com/show/0gt7vAPAT4LtDt4mGBIfOt?si=a6bQ18DRRiu0012DIJEbUA"
          >Survival of the Kindest podcast
          </a>
        </li>
      </ul>
  </div>

  <div class="resource-card">
    <h3>Read</h3>
    <h4>Diversity in the workplace</h4>
    <ul class="resource-list">
    <li><a
        href="https://hbr.org/amp/2021/02/stop-telling-women-they-have-imposter-syndrome"
      >"Stop telling women they have imposter syndrome"
      </a></li>
    <li><a
        href="https://www.crowdstrike.com/blog/embracing-who-you-are-with-zoe-bijl/"
      >A Conversation on the Trans Experience and Embracing Who You Really Are
      </a></li>
      <li>
      <a
        href="https://npokennis.nl/longread/7752/hoe-bewust-ben-jij-je-van-je-vooroordelen"
      >Hoe bewust ben jij je van je vooroordelen? (NL)
      </a></li>
        <li>
      <a
        href="https://www.movisie.nl/sites/movisie.nl/files/2020-07/regenboogtaaltips_03.pdf"
      >Regenboog Taaltips
      </a>
    </li>
  </ul>
  </div>
</div>